@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  background-color: #ffb2a7;
}

p {
  color: azure;
}

button {
  background-color: #cc0e74;
}

button:hover {
  background-color: #940c54;
}

.card {
  border-color: #790c5a;
}

.cute-text {
  color: #e6739f;
}

.feature-item {
  transition: all 0.2s ease-in-out 0s !important;
}
.feature-item:hover {
  transform: translateY(-13px);
}
