@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  background-color: #3d0c11;
}

h1,
h2,
h3,
h4 {
  color: #fff;
}

p,
span,
li {
  color: #f9dec9;
}

button {
  background-color: #ff7f51;
}

button:hover {
  background-color: #ff9b54;
}

button:active {
  background: #ffe1a8;
  color: #4f000b;
}

.secondaryText {
  color: #ce4257;
}

.card {
  box-shadow: #d80032;
  background-color: #e6739f;
  border: solid 1px #720026;
  color: #4f000b;
}

.cute-text {
  color: #e6739f;
}

.feature-item {
  transition: all 0.2s ease-in-out 0s !important;
}
.feature-item:hover {
  transform: translateY(-13px);
}

li {
  list-style-type: square;
}
